<div class="container-fluid">
  <h1>Welcome to CronBook.</h1>
  <h6>Signifying nothing since 1975ish.</h6>
</div>
<div class="container-fluid">
  <h2>Recent Posts</h2>
</div>
<%# show all the posts
!need to limit this to just posts of friends of the user %>
<div class="container-fluid">
  <div class="row">
    <div class="col-8">
      <% @posts.each do |post| %>
      <div class="row gy-2 border">
        <div class="post-body">
          <%= render "shared/post", :post => post %>
        </div>
      </div>
      <% end %>
    </div>
    <div class="col-4">
      <h2>Heres your friends</h2>
    </div>
  </div>
</div>