<div class="container-fluid text-secondary">
  <h1>Welcome to CronBook.</h1>
  <h6>Signifying nothing since 1975ish.</h6>
</div>

<%# show all the posts
!need to limit this to just posts of friends of the user %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-xs-12">
      <div class="card text-bg-primary bg-opacity-50 p-2 mb-2 shadow">
        <h2>Recent Posts</h2>
      </div>
      <% @posts.each do |post| %>
      <div class="card text-bg-primary bg-opacity-50 p-2 mb-2 shadow">
        <%= render "shared/post", :post => post %>
      </div>
      <% end %>
    </div>
    <div class="col-md-4 d-none d-md-block">
      <div class="card text-bg-primary bg-opacity-50 p-2 mb-2 shadow">
        <% if current_user.friends.empty? %>
          <h2>You're all alone :(</h2>
          <%= link_to "Find Friends", users_path, class: "btn btn-primary col-8" %>
        <% else %>
          <h2>Your friends</h2>
          <ul class="list-group">
            <% current_user.friends.each do |friend| %>
            <li class="list-group-item">
              <%= render "shared/user", :user => friend %>
            </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>