<div class="post-body">
  <%= render "shared/post", :post => @post %>
</div>
  <ul>
    <% @post.comments.each do |comment| %>
      <li>
        <%= render "shared/comment", :comment => comment %>
      </li>
    <% end %>
    <li>
      <%= render "shared/comment_form", :comment => @comment, :post => @post %>
    </li>
  </ul>